.subtabs{
    background-color: rgb(3,214,262);
    height: 25px;
    width: 25px;
    border-radius: 15px;
}
.tab{
    padding-right: 2rem;
    margin-top: 0.8rem;
}
.centerform{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   width:60%;
   height: 70%;


   /* border: 2px solid; */
   padding: 10px;
   box-shadow: 0px 0px 4px 1px #dcdcdc;


}
.cursor{
    cursor: pointer;
    text-align: center;
    padding-top: 3px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
.centerform{
    height: 100%;
    width: 60%;
}

}
