/* .gmail{
    border:2rem solid #e60000;
    background-color: #e60000;
    border-radius: 1rem;
    width: 80%;
    height: 90%;
}
.msoffice{
    border:2rem solid #e60000;
    background-color: #e60000;
    border-radius: 1rem;  
    width: 80%;
    height: 90%;
}
.anotherdevice{
    border:2rem solid whitesmoke;
    background-color: whitesmoke;
    border-radius: 1rem;  
    width: 80%;
    height: 90%;
} */
